POSTGRES_DB=doc_validator_development
POSTGRES_USER=doc_validator
POSTGRES_PASSWORD=senha123

RABBITMQ_USER=doc_validator
RABBITMQ_PASSWORD=senha123
RABBITMQ_VHOST=/

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=doc-validator

GRAFANA_USER=admin
GRAFANA_PASSWORD=DocValidator2024!